<!DOCTYPE html>
<html>
<head>
    <title>Greeting Result</title>
    <link rel="stylesheet" href="/stylesheets/greeting-result.css">
</head>
<body>

    <h1>Result</h1>

    <div class="greeting-box">
        <p class="greeting-text"><%= greeting %>,</p>
        <p class="name-box"><%= name %></p>
    </div>

    <p class="days-left">
        <%= daysLeft %> days left to your <%= nextAge %>th birthday
    </p>

</body>
</html>